<!DOCTYPE html>
<html ng-app="DutyPad">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>值班详情 - 本子</title>
		<!--angular JS-->
		<script type="text/javascript" src="http://libs.useso.com/js/angular.js/1.2.9/angular.min.js"></script>
		<!--semantic css-->
		<link href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/reset.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/site.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/container.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/grid.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/header.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/image.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/menu.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/divider.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/list.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/segment.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/dropdown.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/icon.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/components/transition.min.css">
		<link href="//cdn.bootcss.com/semantic-ui/2.1.8/components/sidebar.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/semantic-ui/2.1.8/components/modal.min.css" rel="stylesheet">
		<!--My CSS-->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<!--sementic js-->
		<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.js"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/site.min.js"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/checkbox.min.js"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/dropdown.min.js"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/transition.min.js"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/visibility.min.js"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/modal.min.js"></script>
		<script src="//cdn.bootcss.com/semantic-ui/2.1.8/components/sidebar.min.js"></script>

	</head>

	<body>
		<div class="ui left demo vertical sidebar labeled icon menu inverted">
			<a class="item" href="pad.html">
				<i class="book icon"></i> 本子
			</a>
			<a class="item" href="times.html">
				<i class="tasks layout icon"></i> 工时
			</a>
			<a class="item">
				<i class="history layout icon green"></i> 详情
			</a>
			<a class="item bottom">
				<i class="settings icon"></i> 管理
			</a>
		</div>

		<div ng-controller="DetailController" class="pad-ctrler pusher" id="container">

			<div class="showSidebar" id="SideBar">
				<div class="ui button animated fade white" tabindex="0">
					<div class="visible content"><i class="sidebar icon button"></i></div>
					<div class="hidden content">菜单</div>
				</div>
			</div>

			<div class="ui container piled segment" id="Main">
				<div class="ui top attached tabular menu">
					<span class="item"><b>签到本   </b></span>
					<a class="green item active">值班详情</a>
				</div>
				<div class="pad1">
					<div class="progress-row">
						<div class="ui one column grid">
							<div class="row fluid">
								<div class="five wide column fluid">
									<div class="ui top-title fluid">
										<h1 class="fluid">我的本月工时</h1>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="sixteen wide column">
									<div class="ui progress-row">
										<div class="ui large indicating progress" data-value="{{nowTimes}}" data-total="40" id="my-progress">
											<div class="bar">
												<div class="progress"></div>
											</div>
											<div class="label">本月工时：{{nowTimes}}， 累积工时：{{accTimes}}，总值：￥{{(nowTimes+accTimes)*perWorth | number:2}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="five wide column fluid">
									<div class="ui top-title fluid">
										<h1 class="fluid">我的值班记录</h1>
									</div>
								</div>
								<div class="seven wide column">

								</div>
								<div class="four wide column">
									<div class="ui button basic animated fade black huge fluid" tabindex="0" ng-click="setBeginDay()">
										<div class="visible content">{{checkBeginDateStr}}</div>
										<div class="inverted hidden content">
											<i class="calendar outline icon"></i> 更改起始日期
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<table class="ui table selectable complex">
									<thead>
										<tr>
											<th>日期</th>
											<th>时间</th>
											<th>工时</th>
											<th>值班说明</th>
											<th>待办事项</th>
										</tr>
									</thead>
									<tbody>
										<tr class="positive">
											<td rowspan="3">3-14</td>
											<td>8:00 - 12:30</td>
											<td>{{4.5 * 1.5}}</td>
											<td>加班</td>
											<td>无</td>
										</tr>
										<tr class="warning">
											<td>13:30 - 6:30</td>
											<td>7</td>
											<td>拖堂了！</td>
											<td>无</td>
										</tr>
										<tr>
											<td>19:00 - 21:45</td>
											<td>2.75</td>
											<td>无</td>
											<td>无</td>
										</tr>
										<tr class="error">
											<td>3-13</td>
											<td>8:00 - 12:30</td>
											<td>-2</td>
											<td>迟到一节课，让老师找不到助理，导致上课事故。</td>
											<td>无</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row centered">
								<div class="ui button basic animated fade grey" tabindex="0" id="addMore1">
									<div class="visible content">加载更多</div>
									<div class="inverted hidden content"><i class="icon plus"></i> more</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui modal small" id="setBeginDayModal">
					<div class="header">
						客官，今天是{{checkBeginDateStr}}，要翻到哪页呢？
					</div>
					<div class="content">
						<div class="ui grid middle aligned">
							<div class="row">
								<div class="column six wide">
									<div class="ui left icon input fluid">
										<input type="date" ng-model="checkBeginDate">
										<i class="calendar icon"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="actions">
						<div class="ui approve green inverted button" ng-click="alertDate()">确定</div>
					</div>
				</div>

			</div>

			<div class="ui vertical footer segment" id="footer">
				<div class="ui center aligned container">
					<img src="http://semantic-ui.com/examples/assets/images/logo.png" class="ui centered mini image">
					<div class="ui horizontal small divided link list">
						<a class="item" href="#">Site Map</a>
						<a class="item" href="#">Contact Us</a>
						<a class="item" href="#">Terms and Conditions</a>
						<a class="item" href="#">Privacy Policy</a>
					</div>
				</div>
			</div>

		</div>
		<script type="text/javascript" src="../js/script.js"></script>
		<script type="text/javascript" src="../js/controllers.js"></script>
		<script type="text/javascript" src="../js/style.js"></script>
		<script>
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
		</script>
	</body>

</html>